# dependencies
node_modules/

# Cloudflare local state
.wrangler/

# local env files
.env
.env.*
!.env.example
.dev.vars
.dev.vars.*

# build / cache
coverage/
dist/
*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
